@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

.mainContainer {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
    min-height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1992D3;
    z-index: 4;
}

.header {
    grid-area: header;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 20%);
    z-index: 3;
}

.content {
    grid-area: content;
    background-color: #eee;
    z-index: 2;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
    position: sticky;
    top: 20px
}

.sidebar img {
    width: 24px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.dashboardLogo {
    margin-bottom: 40px;
}

.dashboardLogo img {
    width: 48px;
}

.needMarginBottom {
    margin-bottom: 40px;
}

.header {
    display: grid;
    grid-template-rows: 50px 100px;
    grid-template-columns: 1fr;
}

.firstLine {
    display: flex;
    align-items: center;
    gap: 24px;
}

.searchLogo {
    margin-left: 30px;
    width: 24px;
    padding-top: 5px;
}

.bellLogo {
    width: 24px;
    margin-left: auto;
}

.avatar {
    width: 40px;
}

.firstLine span {
    margin-right: 20px;
    font-weight: 500;
}

.firstLine input[type=text] {
    background-color: #eee;
    border-radius: 10px;
    border: 0;
    height: 24px;
    flex: 1;
    margin-right: min(100px, 10%);
}

.firstLine .searchLine {
    display: flex;
    gap: 20px;
    text-align: center;
}

.firstLine a {
    text-decoration: none;
    color: black;
}

.secondLine {
    display: flex;
    align-items: center;
    gap: 20px;
}

.secondLine button {
    border: 0;
    background-color: #1992D3;
    color: white;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
}

.secondLine button:hover {
    cursor: pointer;
}

.logoName {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 35px 35px;
    grid-template-areas: "logo hello" "logo name";
    gap: 5px 20px;
    align-items: center;
    margin-right: auto;
}

.logoName img {
    width: 100%;
    grid-area: logo;
}

.logoName > .hello {
    align-self: end;
    font-weight: 500;
}

.logoName > .name {
    align-self: start;
    font-size: 1.2rem;
    font-weight: 500;
}

.secondLine button:last-child {
    margin-right: 20px;
}

.secondLine > :first-child {
    margin-left: 30px;
}

.contentBox {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    grid-template-areas: "mainContent trends";
    gap: 20px;
    margin-bottom: 20px;
}

.mainContent {
    grid-area: mainContent;
}

.rightColumn {
    grid-area: trends;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px 27px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: -7px 0px orange, 3px 3px 10px 0px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 1.2rem;
}

.card a {
    text-decoration: none;
    color: black;
}

.card .cardIcons {
    justify-content: end;
    align-items: end;
    display: flex;
    gap: 24px;
    margin-top: auto;
}

.cardIcons img {
    width: 24px;
}

.card p,
.announcements p {
    color: #676767;
    font-size: 0.9rem;
}

.announcements {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 20%);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.announcements h2 {
    font-size: 1rem;
}

.announcements :first-child {
    margin-top: 10px;
}

.announcements :last-child {
    margin-bottom: 10px;
}

hr {
    width: 100%;
    border: 0;
    border: rgb(232, 232, 232) solid 1px;
}

.announcements a {
    text-decoration: none;
    color: black;
}

.announcements p {
    margin-top: -5px;
}

.users {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 20%);
}

.user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo username"
        "logo status";
    gap: 5px 10px;
}

.user a {
    grid-area: logo;
    
}

.user img {
    width: 50px;
    border-radius: 50%;
}

.user .login {
    grid-area: username;
    align-self: end;
}

.user .status {
    grid-area: status;
    align-self: start;
    color: #676767;
}